%form(action="/edit" method="post")
  %input#put(type="hidden" name="_method" value="put")
  %input#slug(type="hidden" name="slug" value="#{@post.slug}")
  %p
    %label(for="title")Title:
    %input#title(name="title" value="#{@post.title}")
  %p
    %label(for="maintext")Main text:
    = find_and_preserve do
      %textarea#posttext(name="maintext")
        = @post.text
  %input(type="submit" value="submit")
