- if admin?
  <a href="/newpost">New post</a>
- if @posts.empty?
  %p Nothing posted yet
- else
  - @posts.each do |post|
    #post
      #datetime
        #date= post.created_at.strftime("%a %d %b %Y")
        #time= post.created_at.strftime("%H:%M")
      %h2= post.title
      %p= post.text
