- if admin?
  <a href="/newpost">New post</a>
- if @posts.empty?
  %p Nothing posted yet
- else
  - @posts.each do |post|
    #post
      #date= post.created_at
      %h2= post.title
      %p= post.text
