!!!
%html
  %head
    =googleanalytics!
    %link(rel="stylesheet" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css")
    %link(rel="stylesheet" href="/css/stylesheet.css")
    %title
      = @title
  %body
    #header
      %h1 Kattfest
    #content
      =styled_flash
      =yield
    #footer
