body {
    font-family: helvetica, sans-serif;
    color: #000;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 40px;
}

#content {

    max-width: 52em;
    min-width: 27em;
    margin: auto;
}

#post {
    background: #eee;
    min-height: 50px;
    }
    
#post #datetime {
    padding: 5px;
    float: right;
    text-align: center;
    }

#content.id {
    text-align: right;
}

