body {
    font-family: helvetica, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

textarea {
    white-space: nowrap;
    overflow: auto;
    height: 250px;
    width:  800px;
    resize: none;
    margin-bottom: 0.5em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 40px;
}

#content {
    max-width: 52em;
    min-width: 27em;
    margin: auto;
}

#post {
    background: #eee;
    min-height: 50px;
}
    
#post a {
    padding: 10px 5px;
    font-size: 1.5em;
}
    
#post #datetime {
    padding: 5px;
    float: right;
    text-align: center;
}

#post p {
    padding: 0px 5px 10px;
}

#content.id {
    text-align: right;
}
