body {
    font-family: helvetica, sans-serif;
    color: #000;
}

a:hover, a:focus, a:active {
    color: #f60;
}

a:visited {
    color: #4B5970;
}

a:link {
    color: #06C:
}

textarea {
    height: 250px;
    width:  800px;
    resize: none;
    margin-bottom: 0.5em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

#adminheader {
    text-align: right;
}

#adminheader ul li {
    display: inline;
}

#header {
    text-align: center;
    margin: 10px;
}

#header h1 {
    font-size: 40px;
}

#footer {
    margin-bottom: 1em;
}

#footer p {
    text-align: right;
    font-size: 10px;
}

#content {
    max-width: 52em;
    min-width: 27em;
    margin: auto;
}

#posttitle a {
    padding: 10px 5px;
    font-size: 1.5em;
    text-decoration: none;
}

.post {
    background: #eee;
    min-height: 100px;
    margin: 5px 0px;
}
    
.post #datetime {
    font-weight: bold;
    background: #ecc;
    padding: 5px;
    margin: 0.5em;
    float: right;
    text-align: center;
}

.post p {
    padding: 10px 5px;
}

.post ul {
    margin: 3px 40px;
    list-style: disc;
}

.post pre {
    border: 1px;
    border-style: dashed;
    padding: 0.5em;
    margin: 0.5em;
    margin-right: 150px;
    background: #fff;
}

code {
}

#content.id {
    text-align: right;
}
